ENVIRONMENT=DEVELOPMENT
PORT=3001
CLIENT_URL_DEVELOPMENT=http://localhost:5173
API_URL_DEVELOPMENT=http://localhost:3001
CLIENT_URL_PRODUCTION=https://clarifyhw.vercel.app
API_URL_PRODUCTION=https://clarifyhw-api.vercel.app
GEMINI_API_KEY=
